.logInBackgroundDiv {
  background-image: url("quantum-gradient.svg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

.logInDiv {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  max-width: 850px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 80%;
  padding-left: 30px;
}

@media (max-width: 767px) {
  .logInBackgroundDiv {
    justify-content: flex-end; 
    height: auto; 
    padding-left: 0px;
  }

  .logInDiv {
      max-width: 700px;
      width: 75%;
    }

    .logInDiv input {
      width: 100%;
    }
    
    .logInDiv button[type="submit"] {
      width: 100%;
    }
}


.logInDiv form {
  margin: 30px;
}

.logInDiv input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px; 
  background-color: #F4F6F7 ; /* Use a slightly darker shade between white and grey (or cream) */
  border: 1px solid #ccc; 
}


.logInDiv button[type="submit"] {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #B7950B;
  color: #fff;
  cursor: pointer;
  margin-top: 20px; 
}

.logInDiv h1 {
  font-size: 2rem; 
  color: #fff; 
  padding-left: 30px;
  color: #B7950B;
}

.logInDiv input:focus {
  outline-color: #B7950B; 
}

.logInDiv button[type="submit"]:hover {
  background-color: #796208; 
  padding-left: 15px;
}

.logInDiv p a {
  color: #3498db; 
}

.logInDiv p a:hover {
  text-decoration: underline; 
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.error-message:first-child {
  margin-top: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}
