.signUpBackgroundDiv {
  background-image: url("quantum-gradient.svg");
  background-size: cover;
  background-position: center center;
  height: 140vh;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

.signUpDiv {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  max-width: 850px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 140vh;
  width: 80%;
  padding-left: 30px;
}

@media (max-width: 767px) {
  .signUpBackgroundDiv {
    justify-content: flex-end; 
    height: auto; 
    padding-left: 0px;
  }

  .signUpDiv {
      max-width: 700px;
      width: 75%;
    }

    .signUpDiv input {
      width: 100%;
    }
    
    .signUpDiv button[type="submit"] {
      width: 100%;
    }
}


.signUpDiv form {
  margin: 30px;
}

.signUpDiv input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px; 
  background-color: #F4F6F7 ; /* Use a slightly darker shade between white and grey (or cream) */
  border: 1px solid #ccc; 
}


.signUpDiv button[type="submit"] {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #F4D03F;
  color: #fff;
  cursor: pointer;
  margin-top: 20px; 
}

.signUpDiv h1 {
  font-size: 2rem; 
  color: #fff; 
  padding-left: 30px;
  color: #F4D03F;
}

.signUpDiv input:focus {
  outline-color: #9A7D0A; 
}

.signUpDiv button[type="submit"]:hover {
  background-color: #9A7D0A; 
  padding-left: 10px;
}

.signUpDiv p a {
  color: #3498db; 
}

.signUpDiv p a:hover {
  text-decoration: underline; 
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.error-message:first-child {
  margin-top: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Translucent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top of everything */
}